@font-face {
    font-family: 'nexa_boldregular';
    src: url('../fonts/Nexa-Bold.otf');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'nexa_lightregular';
    src: url('../fonts/Nexa-Light.otf');
    font-weight: normal;
    font-style: normal;


}

